#box {
  width: 200px;
  height: 200px;
  background: rgb(38, 38, 186);
  padding: 10px;
  margin: 10px;

 box-shadow: 20px 20px 2px 20px black;
}

#box h1 {
  color: white;
  text-shadow: 20px 20px 5px black;
}