* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;

}

body {
  background-color: #f3edf1;
  overflow-x: hidden;
}

nav#menu {
  background-color: #451776;
  width: 100vw;
  height: 50px;
  padding: 5px;
}

ul#itens-menu{
  width: 1150px;
  margin: auto;
}

ul#itens-menu li {

  display: block;
  float: left;
  margin: 20px 1px;
}

ul#itens-menu li>a {
  color: #e7d8e9;
  padding: 5px;
}

ul#itens-menu li>a:hover {
  background-color: #e7d8e940;
  padding: 5px;
}

main#principal {
  background-color: #fff;
  border-radius: 5px;
  max-width: 1000px;
  margin: 50px auto;
  padding: 60px;
}
#titulo {
   text-transform: uppercase;
   color: #3c1a7d;
}

#informacoes {
  margin: 50px auto;
  max-width: 800vw;
}
input, select, textarea {
  color: #695e72;
  display: inline-block;
  border-radius: 3px;
  border: .5px solid #e6e1ef;
  padding: 10px;
  margin: 5px;
  
}

input {
  width: 175px;
}
select {
  width: 175px;
}
textarea {
  width: 70%;

}

input#lancamento {
  width: 95px;
}

#botao-adicionar {
  float: right;
  background-color: green;
  color: white;
  width: 80px;
}

#botao-adicionar:hover {
  background-color: rgb(35, 155, 32);
}

table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: .5px .5px rgba(232, 227, 233, 0.568);
  border: 1px dashed rgba(207, 205, 209, 0.5);
}

th{
  border-top: 2px solid rgba(207, 205, 209, 0.5);
  border-bottom: 2px solid rgba(207, 205, 209, 0.5);
  padding: 5px;
}


td {
  text-align: center;
  padding: 5px;
  text-wrap: wrap;
  width: 100px;
}


.botao-excluir {
  color: #fff;
  border: none;
  background-color: rgb(212, 23, 23);
  width: 70px;
  padding: 5px;
}

.botao-excluir:hover {
  background-color: rgb(248, 25, 25);
}

